<div class="create-course">
  <h3><%= title %></h3>
  <form
    method="POST"
    action="<% if(typeof course == 'object' && course) { %> save/<%=course.slug%> <% } else{ %> /courses/store <% } %>"
  >
    <div class="mb-3">
      <label for="courseName" class="form-label"> Name </label>
      <% if(typeof course == 'object' && course) { %>
      <input type="text" class="form-control" id="courseName" name="name" value="<%= course.name %>" />
      <% } else{ %>
      <input type="text" class="form-control" id="courseName" name="name" />
      <% } %>
    </div>
    <div class="mb-3">
      <label for="courseDescription" class="form-label"> Description </label>
      <% if(typeof course == 'object' && course) { %>
      <input
        type="text"
        class="form-control"
        id="courseDescription"
        name="description"
        value="<%= course.description %>"
      />
      <% } else{ %>
      <input type="text" class="form-control" id="courseDescription" name="description" />
      <% } %>
    </div>
    <div class="mb-3">
      <label for="courseImage" class="form-label"> Image Path </label>
      <% if(typeof course == 'object' && course) { %>
      <input type="text" class="form-control" id="courseImage" name="image" value="<%= course.image %>" />
      <% } else{ %>
      <input type="text" class="form-control" id="courseImage" name="image" />
      <% } %>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
